#geometric {
    height: 97vh;
    filter: drop-shadow(2px 2px 5px #88a5bf);
}
.hero-wrapper {
    position: absolute;
    z-index: -9;
    right: 3rem;
    bottom: 26.7rem;

}
.logo-txt {
    position: relative;
    margin-top: -32.7rem;
    margin-left: -31rem;
    h1 {
        font-size: 3em;
        line-height: 1em;
        text-align: center;
    }
    .txt-bold {
        text-transform: uppercase;
        color: #EA4C89;
    }
    .txt-cursive { font-size: 1.2em; }
}