#geometric {
    max-height: 46rem;
    height: 95.8vh;
    max-width: 96vw;
    filter: drop-shadow(2px 2px 5px #88a5bf);
}
.hero-wrapper {
    position: absolute;
    z-index: -9;
    right: 3rem;
    bottom: 26.7rem;
    @media only screen and (max-width: 800px) { 
        right: 2vw;
        top: -10rem;
    }
}
.logo-txt {
    position: relative;
    margin-top: -32.7rem;
    margin-left: -31rem;
    @media only screen and (max-width: 800px) { 
        margin-left: -11rem;
        margin-top: -27rem;
    }
    h1 {
        font-size: 3em;
        line-height: 1em;
        text-align: center;
        @media only screen and (max-width: 800px) { 
            font-size: 1.5em;
        }
    }
    .txt-bold {
        text-transform: uppercase;
        color: $pink;
    }
    .txt-cursive { font-size: 1.2em; }
}
.intro-wrapper {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    bottom: 5rem;
    left: 2rem;
    width: 22rem;
    max-width: calc(100vw - 2rem);
    @media only screen and (max-width: 800px) { 
        bottom: 3rem;
    }
    h2 {
        font-size: 1.8em;
        font-weight: 600;
    }
    p { margin-bottom: 1rem; }
    .btn { //learn more button
        padding: 0.7rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        background-color: transparent;
        border: 3px solid $pink;
        color:  $pink;
        width: 10rem;
        cursor: pointer;
    }
    .btn:hover { 
        background-color: $pink;
        color: $white;
    }
    .btn:active { transform: scale(0.98); }
}