.logo-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
    box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
    border-radius: 50%;
    padding: 0.5rem;
    i {
        text-shadow: 5px 5px 5px #d6e1ef99, 0 0 0 #000, 5px 5px 5px #d6e1ef00;
        color: rgba(234, 76, 137, 0.8);
        font-size: 4em;
    }
}
.logo-txt {
    position: absolute;
    top: 1.5rem;
    left: 7rem;
    width: 100%;
    .txt-bold {
        line-height: 1em;
        font-size: 2em;
        text-transform: uppercase;
        color: #EA4C89;
    }
    .txt-cursive {
       line-height: 1em;
       font-size: 2.5em;
    }
}
nav {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin: 1rem;
    a {
        color: #000000;
        text-decoration: none;
        text-align: right;
        text-transform: uppercase;
        font-size: 0.8em;
    }
}