nav {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    margin: 2rem;
    a {
        color: #000000;
        text-decoration: none;
        text-align: right;
        text-transform: uppercase;
        font-size: 0.8em;
    }
}
.SoMe {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    .fa-comment {
        animation-name: float;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        transition: all .2s ease-in-out;
        font-size: 2.5em;
        position: relative;
        color: #FF6759;
    }
}
.SoMe.active {
    .fa-comment {
        color: rgba(201, 215, 230, 0.562);
        text-shadow: 4px 4px 4px #d6e1ef99, 0 0 0 #000, 2px 2px 2px #d6e1ef00;
    }
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .popuptext {
        visibility: hidden;
        width: 15rem;
        height: 15rem;
        background-color: #D4E0ED;
        box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
        border-radius: 25px;
        position: absolute;
        z-index: 1;
        bottom: 0vh;
        left: -16.5rem;
        padding: 3rem;
    }
    .show {
        visibility: visible;
        animation: fadeIn 0.8s;
    }
} 
@keyframes fadeIn { from { opacity: 0; } to { opacity:1; } }
@keyframes float {
    0%   {left:2px; top:2px;}
    33.3%  {left:0px; top:0px}
    66.6%  {left:2px; top:2px;}
    99.9%  {left:0px; top:0px}
  }