@import url("https://use.typekit.net/wfh0vkz.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: montserrat, sans-serif;
}

.txt-cursive {
  font-family: learning-curve, sans-serif;
}

.txt-bold {
  font-weight: 900;
}

#geometric {
  height: 46rem;
  filter: drop-shadow(2px 2px 5px #88a5bf);
}

.hero-wrapper {
  position: absolute;
  z-index: -9;
  right: 3rem;
  bottom: 26.7rem;
}

.logo-txt {
  position: relative;
  margin-top: -32.7rem;
  margin-left: -31rem;
}
.logo-txt h1 {
  font-size: 3em;
  line-height: 1em;
  text-align: center;
}
.logo-txt .txt-bold {
  text-transform: uppercase;
  color: #EA4C89;
}
.logo-txt .txt-cursive {
  font-size: 1.2em;
}

.intro-wrapper {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  bottom: 5rem;
  left: 2rem;
  width: 22rem;
}
.intro-wrapper h2 {
  font-size: 1.8em;
  font-weight: 600;
}
.intro-wrapper p {
  margin-bottom: 1rem;
}
.intro-wrapper .btn {
  padding: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: transparent;
  border: 3px solid #EA4C89;
  color: #EA4C89;
  width: 10rem;
  cursor: pointer;
}
.intro-wrapper .btn:hover {
  background-color: #EA4C89;
  color: #F2F2F2;
}
.intro-wrapper .btn:active {
  transform: scale(0.98);
}

nav {
  display: flex;
  justify-content: flex-start;
  gap: 3.5rem;
  margin-left: 2rem;
  margin-top: 1.7rem;
}
nav a {
  color: #000000;
  text-decoration: none;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.8em;
}
nav a:hover {
  transform: scale(1.1);
}
nav a:active {
  opacity: 0.5;
}

.message-popup {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.message-popup .fa-bell {
  animation-name: float;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all 0.2s ease-in-out;
  font-size: 2.5em;
  position: relative;
  color: #FF6759;
}

.message-popup.--active .fa-bell {
  animation: none;
  color: rgba(201, 215, 230, 0.562);
  text-shadow: 4px 4px 4px #d6e1ef99, 0 0 0 #000, 2px 2px 2px #d6e1ef00;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup .popuptext {
  visibility: hidden;
  width: 20rem;
  height: 20rem;
  background-color: #F2F2F2;
  box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55);
  position: absolute;
  z-index: 1;
  bottom: 0vh;
  left: -22rem;
  padding: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.popup .--show {
  visibility: visible;
  animation: fadeIn 0.8s;
}
.popup h3 {
  padding-left: 1rem;
}
.popup button {
  background-color: #F2F2F2;
  padding: 1rem;
  border: none;
  text-align: justify;
  text-align-last: justify;
}
.popup button:hover {
  background-color: #e7e7e7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes float {
  0% {
    left: 4px;
    top: 4px;
  }
  33.3% {
    left: 0px;
    top: 0px;
  }
  66.6% {
    left: 4px;
    top: 4px;
  }
  99.9% {
    left: 0px;
    top: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
